.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
melpa-stable
archive-contents
elpa/flycheck-*
elpa/popup-*
elpa/pos-tip-*
server/
*backup*